canvas {
    border: 5px solid black;
}



.card{
    padding-top: 2%;
    width: 18rem;
    padding-bottom: 2%
    border: 1px solid black;
    flex: 1 0 33%;
}

.homepageGrid {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  flex-wrap: wrap;
}