<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body class="container-fluid">
    <!-- http://fabricjs.com/docs/fabric.Canvas.html -->
    <!-- http://fabricjs.com/freedrawing -->


    <div th:replace="fragments :: singleCard"></div>

<!--    <div>-->
<!--        <ul>-->
<!--            <li th:each="canvas : $">-->
<!--                <div th:replace="fragments :: singleCard"></div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</body>
</html>