<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
    <!-- http://fabricjs.com/docs/fabric.Canvas.html -->
    <!-- http://fabricjs.com/freedrawing -->

<!--    <div class="navbar-fixed-top">  <h1>Hewwo</h1>                  </div>-->

    <div th:replace="fragments :: page-header"></div>


<div class="homepageGrid"><!-- -->


        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>
        <th:block th:replace="fragments :: singleCard"></th:block>



</div>


</body>
</html>